# Ignore files inisde data folder
data/*
notebooks/*.html
# Ignore large Seurat objects
*.rds
*.h5

# Ignore logs or temporary files
*.log
*.tmp
*.bak

# Ignore files inside the results folder (optional, if you want clean repo)
results/*

# R session files
.Rhistory
.RData
.Rproj.user/
.RDataTmp*

# Ignore large pdf file
*.pdf
